@media screen and (max-width: 767px) {
	body {
			width: 767px;

		.main-header {
			width: 100%;

			.top-wrapper {

				.container {
					padding: 8px 0px 7px 0px;
					
					.header-logo {
						margin-left: 15px;
					}

					.navigation {
						position: relative;

						.menu__btn {
							visibility: visible;
						}
						.container1 {
							visibility: hidden;
							position: absolute;
							flex-direction: column;
							width: 767px;
							padding-top: 0px;
							margin-top: 0px;
							top: 70px;
							right: 0px;
							text-align: left;
							font-size: 23px;
							font-weight: bold;
							letter-spacing: 1px;
							text-transform: uppercase;
							background-color: #333333;
							z-index: 1;
							//transition-duration: .25s;

							.nav-item {
								width: 245px;
								margin-left: 110px;
								padding: 15px 0px;
								.arrow-mini {
									//display: none;
									margin: 6px 0 0 6px;
									transform: rotate(0deg);
								}

								.sub-menu {
									position: absolute;
									top: 15px;
									left: 100%;
									width: 270px;
									margin-top: 0;
									z-index: 1;
									font-size: 14px;
									background-color: transparent;
									transition: all 1s ease-in;

									li {
										padding-top: 5px;
									}
								}
							}
						}
					}
				}
			}

			.bottom-wrapper {

				.container {

					.language {
						margin: 0 20px 0 15px;
					}

					.search {
						margin-right: 15px;

						.main-search {
							width: 520px;
							font-size: 16px;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}