@block-background-black: #333333;
@var-width-container: 1200px;

a {
	text-decoration: none;
}


.main-header {
	display: flex;
	background-color: @block-background-black;
	width: 100%;

	.container {
		margin: 0 auto;
		padding: 15px 0px 14px 0px;
		width: @var-width-container;

	}
}

