/*!=================FONTS======================*/
@font-face {
			font-family: "DINPro";
			src: url("../fonts/DINPro.woff2") format("woff2"),
			url("../fonts/DINPro.woff") format("woff");
			font-weight: normal;
			font-style: normal;
			font-display: swap;
}

@font-face {
			font-family: "DINPro-Bold";
			src: url("../fonts/DINPro-Bold.woff2") format("woff2"),
			url("../fonts/DINPro-Bold.woff") format("woff");
			font-weight: normal;
			font-style: normal;
			font-display: swap;
}

/*!=================MIXIN======================*/
.green-button {
	padding: 15px 69px 15px 68px;
	border-radius: 3px;
	background-color: #748943;
	text-shadow: 1px 1px 1px black;
	&:hover {
		background-color: #9BC414;
		text-shadow: none;
	}
}

.h1-title {
	text-transform: uppercase;
	color: #ffffff;
	font-family: 'DINPro-Bold', sans-serif;
	font-size: 30px;
}

/*=================VAR======================*/
@background-black: #333333;
@var-width: 1200px;
@var-width-2: 600px;
@var-min-width: 578px;

/*!=================ALL STYLE======================*/
body {
	font-family: 'DINPro', sans-serif;
}

h1 {
	span {
		font-size: 30px;
	}
}

p, span {
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #ffffff;
}

ul {
	padding: 0px;
}
li {
	list-style-type: none;
}

/*!=================HEDER======================*/
.main-header {

	display: flex;
	flex-direction: column;

	.top-wrapper {
		width: 100%;
		background-color: @background-black;

		.container {
			display: flex;
			flex-direction: row;
			-webkit-justify-content: space-between;
					justify-content: space-between;
			max-width: @var-width;
			margin: 0 auto;
			padding: 8px 5px 7px 5px;
			
			.header-logo {
				cursor: pointer;
			}

			.navigation { /*! меню */
				display: flex;
				width: @var-width-2;
				min-width: @var-min-width;
				padding-top: 14px;
				box-sizing: border-box;

				.label-mobile-menu { /*! Для мобильного меню*/
						display: none;
					}
				.label-mobile-menu:after {/*!Для мобильного меню*/
					position: absolute;
					content: "\2261";
					padding: 20px 0;
					font-size: 90px;
					line-height: 34px;
					color: #748943;
				}
				.label-mobile-menu:hover:after {/*!Для мобильного меню*/
						color: #9BC414;
				}
				.label-mobile-menu:active:after {/*!Для мобильного меню*/
						color: #9BC414;
				}

				#mobile-menu { /*!Для мобильного меню*/
					display: none;
					//visibility: hidden;
				}
				input[type="checkbox"]:checked ~ .container1 { /*Для мобильного меню*/
					visibility: visible;
				}

				.container1 {
					display: flex;
					flex-direction: row;
					-webkit-justify-content: space-between;
							justify-content: space-between;
					flex-wrap: wrap;
					width: 100%;
					font-size: 14px;
					
					li {
						cursor: pointer;
						position:relative;

						.arrow-mini {
							fill: #f2a765;
						}

						.menu {
							display: none;
							position:absolute;
							z-index:1;
							padding: 0px 5px 5px 5px;
							background-color: #333333;
							font-size: 13px;
							li {
								padding-top: 10px;
							}
							a:hover {
								color: #c0d294;
							}
						}

						.nav-button:hover {
							color: #c0d294;
						}

						.nav-button:hover + .arrow-mini {
							fill: #c0d294;
						}
					}
					li:hover .menu {
						display: block;
					}
				}
			}
		}
	}

	.bottom-wrapper {

		.container {
			display: flex;
			flex-direction: row;
			-webkit-justify-content: space-between;
					justify-content: space-between;
			margin: 0 auto;
			padding: 8px 5px 8px 5px;
			max-width: @var-width;
			min-width: @var-min-width;

			.language {
				display: flex;
				a {
					width: 95px;
					border-radius: 2px;
					margin-right: 2px;
					padding: 4px 0 6px 0;
					text-align: center;
					background-color: #748943;
					font-size: 13px;
					font-weight: 500;
					letter-spacing: 1px;
					color: #ffffff;
					text-shadow: 1px 1px 1px #333333;
					&:hover {
						background-color: #9BC414;
						text-shadow: none;
					}
				}
			}
/*!=================SEARCH======================*/
			.search {
				position: relative;
				display: flex;
				max-width: @var-width-2;
				min-width: 540px;;

				.main-search {
					border: 1px solid #a9a9a8;
					border-radius: 3px;
					width: @var-width-2;
					outline: none;
					font-size: 14px;
					color: #333333;
				}
				.img-search {
					z-index: 1;
					margin: 5px 0px 0px -19px;
					fill: #748943;
				}
			}
		}	
	}
}

/*!=================SLIDER======================*/
.slider {
	display: flex;
	width: 100%;
	max-height: 900px;
	background: url(../img/slider-img.jpg);

	.content {
		margin-left: auto;
		width: 50%;
		height: 100%;
		background-color: #333333;
		opacity: 97%;

		.container {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			padding: 20% 0;
			max-width: 480px;
			min-width: 340px;
			text-align: center;

			h1 {
				.h1-title;
				.last-word {
					color: #748943;
				}
			}

			span {
				margin-bottom: 35px;
				line-height: 45px;
				color: #ffffff;
			}

			.slider-button {
				margin: 0 auto;
				.green-button;
			}
		}
	} 
}

/*!=================MAIN CONTENT======================*/

.main-content {
	margin-top: 40px;

	.categories {
		display: flex;
		flex-direction: column;
		position: relative;
		width: @var-width;
		margin: 0 auto;

		.product,
		.innovation,
		.about-greennovo {
			overflow: hidden;
			width: 590px;
			border-radius: 15px;
		}

		.innovation,
		.about-greennovo {
			position: relative;
			align-self: flex-end;
			height: 390px;
		}

		.product {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 800px;
		}

		.about-greennovo {
			margin-top: 20px;
		}

		.product h2,
		.innovation h2,
		.about-greennovo h2 {
			position: absolute;
			z-index: 1;
			.h1-title;
			width: 100%;
			text-shadow: 1px 1px 1px #333333;
			text-align: center;
		}

		.product a,
		.innovation a,
		.about-greennovo a {
			display: block;
			position: relative;
		}

		.innovation h2,
		.about-greennovo h2 {
			top: 170px;
		}

		.product a h2,
		.innovation a h2,
		.about-greennovo a h2 {
			text-align: center;
			width: 350px;
			top: 45%;
			left: 20%;
		}

		.product a img,
		.innovation a img,
		.about-greennovo a img {
			transition: 2s;
		}

		.product a img:hover,
		.innovation a img:hover,
		.about-greennovo a img:hover {
			transform: scale(1.2);
		}
	}
}


/*!=================MOBILE STYLE======================*/
@import url('mobile-style.css');




