/*!=================FONTS======================*/
@font-face {
			font-family: "DINPro";
			src: url("../fonts/DINPro.woff2") format("woff2"),
			url("../fonts/DINPro.woff") format("woff");
			font-weight: normal;
			font-style: normal;
			font-display: swap;
}

@font-face {
			font-family: "DINPro-Bold";
			src: url("../fonts/DINPro-Bold.woff2") format("woff2"),
			url("../fonts/DINPro-Bold.woff") format("woff");
			font-weight: normal;
			font-style: normal;
			font-display: swap;
}

/*!=================MIXIN======================*/
.green-button {
	padding: 15px 69px 15px 68px;
	border-radius: 3px;
	background-color: #748943;
	text-shadow: 1px 1px 1px black;
	&:hover {
		background-color: #9BC414;
		text-shadow: none;
	}
}

.h1-title {
	text-transform: uppercase;
	color: #ffffff;
	font-family: 'DINPro-Bold', sans-serif;
	font-size: 30px;
}

.arrow-min {
	display: block;
	width: 13px;
	height: 15px;
	margin: 3px 0px 0px 2px;
	color: #f2a765;
	font-size: 27px;
	line-height: 10px;

	transform: rotate(90deg);

	&::before {
		content: "\203A";
	}
}

/*=================VAR======================*/
@background-black: #333333;
@var-width: 1200px;
@var-width-2: 600px;
@var-min-width: 320px;
@var-padding-width: 0 10px;

/*!=================ALL STYLE======================*/
body {
	max-width: 1920px;
	margin: 0 auto;
	font-family: 'DINPro', sans-serif;
}

h1 {
	span {
		font-size: 30px;
	}
}

p, span {
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #ffffff;
}

ul {
	padding: 0px;
}
li {
	list-style-type: none;
}

.wrapper-404 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	margin: 0 auto;
	margin-top: 15vh;

	h1 {
		.h1-title;
		font-size: 100px;
		color: #748943;
	}
	span {
		text-align: center;
		font-size: 30px;
		color: #333333;
	}
	a {
		.green-button;
		margin-top: 40px;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
	}
}

/*!=================HEDER======================*/
.main-header {

	display: flex;
	flex-direction: column;

	.top-wrapper {
		position: fixed;
		z-index: 5;
		width: 100%;
		background-color: @background-black;

		.container {
			display: flex;
			flex-direction: row;
			-webkit-justify-content: space-between;
					justify-content: space-between;
			max-width: @var-width;
			margin: 0 auto;
			padding: @var-padding-width;
			padding-top: 8px;
			padding-bottom: 7px;
			
			.header-logo {
				cursor: pointer;
			}

			.navigation { /*! меню */
				display: flex;
				width: 50%;
				//min-width: @var-min-width;
				padding-top: 14px;
				box-sizing: border-box;

	/*!==========Для мобильного меню==========*/
				#menu__toggle { // скрываем чекбокс
					position: absolute;
					opacity: 0;
				}
				/* стилизуем кнопку */
				.menu__btn {
					display: flex; // используем flex для центрирования содержимого
					align-items: center;  // центрируем содержимое кнопки
					position: absolute;
					visibility: hidden;
					top: 13px;
					right: 20px;
					width: 50px;
					height: 45px;
					cursor: pointer;
					z-index: 1;
				}
				/* добавляем "гамбургер" */
				.menu__btn > span,
				.menu__btn > span::before,
				.menu__btn > span::after {
					display: block;
					position: absolute;
					width: 100%;
					height: 7px;
					background-color: #748943;
					transition-duration: .25s;
				}
				.menu__btn > span::before {
					content: '';
					top: -19px;
				}
				.menu__btn > span::after {
					content: '';
					top: 19px;
				}

				#menu__toggle:checked ~ .menu__btn > span {
					transform: rotate(45deg);
				}
				#menu__toggle:checked ~ .menu__btn > span::before {
					top: 0;
					transform: rotate(0);
				}
				#menu__toggle:checked ~ .menu__btn > span::after {
					top: 0;
					transform: rotate(90deg);
				}
				#menu__toggle:checked ~ .container1 {
					visibility: visible;
				}
	/*!==========Конец мобильного меню==========*/

				.container1 {
					display: flex;
					flex-direction: row;
					-webkit-justify-content: space-between;
							justify-content: space-between;
					flex-wrap: wrap;
					margin-top: 14px;
					width: 100%;
					font-size: 14px;
					
					.nav-wrapper {
						display: flex;
						justify-content: space-between;
						width: 83%;
						flex-wrap: nowrap;
					}

					.nav-item {
						display: flex;
						cursor: pointer;
						position:relative;
						margin-right: 3px;

						.arrow-mini {
							.arrow-min;
						}

						.sub-menu {
							position:absolute;
							top: 2px;
							height: 0; 
							overflow: hidden; 
							z-index:1;
							padding: 0px 5px 5px 3px;
							background-color: #333333;
							opacity: 0; 
							font-size: 13px;
							transition: all 0.5s ease-in;
							//transition: all 2s ease;

							li {
								padding-top: 10px;
							}
							a:hover {
								color: #c0d294;
							}
						}

						div {
							color: #ffffff;
						}

						.nav-button:hover {
							color: #c0d294;
						}

						.nav-button:hover ~ .arrow-mini {
							color: #c0d294;
						}
					}
				}
			}
		}
	}

	.bottom-wrapper {
			margin-top: 86px;
		.container {

			display: flex;
			flex-direction: row;
			-webkit-justify-content: space-between;
					justify-content: space-between;
			align-items: center;
			max-width: @var-width;
			margin: 0 auto;
			padding: @var-padding-width;
			padding-top: 8px;
			padding-bottom: 8px;

			.language {
				display: flex;
				flex-direction: column;
				position: relative;
				button {
					width: 95px;
					border-radius: 2px;
					margin-right: 2px;
					padding: 4px 0 6px 0;
					text-align: center;
					background-color: #748943;
					font-size: 13px;
					font-weight: 500;
					letter-spacing: 1px;
					color: #ffffff;
					text-shadow: 1px 1px 1px #333333;
					border: none;
					outline: none;
					cursor: pointer;
					&:hover {
						background-color: #9BC414;
						text-shadow: none;
					}
				}
				.sub-lang {
					display: none;
					flex-direction: column;
					position: absolute;
					top: 24px;
					z-index: 2;
					transition: all .5s ease-in;
					a {
						width: 95px;
						//border-radius: 2px;
						margin-right: 2px;
						padding: 4px 0 6px 0;
						text-align: center;
						background-color: #748943;
						font-size: 13px;
						font-weight: 500;
						letter-spacing: 1px;
						color: #ffffff;
						text-shadow: 1px 1px 1px #333333;
						&:hover {
							background-color: #9BC414;
							text-shadow: none;
						}
					}
				}
			}
/*!=================SEARCH======================*/
			.search {
				position: relative;
				display: flex;
				align-items: center;
				width: 50%;

				.main-search {
					border: 1px solid #a9a9a8;
					border-radius: 3px;
					width: 100%;
					outline: none;
					font-size: 14px;
					color: #333333;
				}
				.search-button {
					width: 20px;
					//height: 100%;
					margin: 0 0 0 2px;
					box-sizing: border-box;
					border: none;
					outline: none;
					background-color: transparent;
					background-image: url(../img/icon-search.svg);
					background-size: contain;
					background-repeat: no-repeat;
					cursor: pointer;
				}
			}

			ol {
				display: flex;
				width: 50%;
				font-size: 12px;
				color: #748943;

				li {
					a {
						color: #748943;

						span {
							font-size: 12px;

							&:hover {
								color: #9BC414;
								border-bottom: 1px solid #9BC414;
							}
						}
					}
				}
			}
		}
	}
}
/*!=================MOBILE-SEARCH======================*/
.mobile-search-button {
	position: fixed;
	display: none;
	left: 48%;
	top: 18px;
	z-index: 6;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: none;
	outline: none;
	background-color: transparent;
	background-image: url(../img/icon-search-mobile.svg);
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.mobile-close-search {
	display: none;
	//width: 30px;
	//height: 30px;
	background-color: transparent;
	background-image: url(../img/icon-close-search.svg);
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	outline: 0;
	cursor: pointer;
}
/*!=================SLIDER======================*/
.swiper {
	.swiper-wrapper {
		.slider {
			display: flex;
			position: relative;
			width: 100%;
			max-height: 750px;
			//background: url(../img/slider-img.jpg);

			.back-image {
				width: 100%;
				height: 100%;
			}

			.mobile-back-image {
				display: none;
			}

			.content {
				position: absolute;
				z-index: 2;
				top: 0;
				right: 0;
				//margin-left: auto;
				width: 50%;
				height: 100%;
				background-color: #333333;
				opacity: 95%;

				.container {
					display: flex;
					flex-direction: column;
					margin: 0 auto;
					padding: 20% 10px;
					max-width: 480px;
					min-width: 340px;
					text-align: center;

					h1 {
						.h1-title;
						.last-word {
							color: #748943;
						}
					}

					.slider-text {
						margin-bottom: 35px;
						line-height: 45px;
						color: #ffffff;
					}

					.slider-button {
						margin: 0 auto;
						.green-button;
					}
				}
			} 
		}
	}
}

/*!=================MAIN CONTENT======================*/
	//Анимация плавного появления
	.el-animation {
		opacity: 0;
	}

	.element-show {
		opacity: 1;
		transition: opacity 0.8s;
	}

.main-content {
	max-width: @var-width;
	min-width: @var-min-width;
	min-height: calc(100vh - 400px);
	padding: @var-padding-width;
	margin: 0 auto;
	margin-top: 40px;

	.categories {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.left-container {
			width: 590px;
			margin-right: 20px;

			.product {
				overflow: hidden;
				border-radius: 15px;

				a {
					display: block;
					position: relative;
					width: 100%;
					//height: 100%;
					transition: 2s;

					&:hover {
						transform: scale(1.2);
					}
				
					.h2-content {
						position: absolute;
						width: 100%;
						top: 45%;
						left: 0%;
						text-align: center;

						h2 {
						.h1-title;
						text-shadow: 1px 1px 1px #333333;
						}
					}
				}

				a img {
					max-width: 100%;
					border-radius: 15px;
				}

				.mobile-img-product {
					display: none;
				}
			}
		}
		.right-container {
			display: flex;
			flex-wrap: wrap;
			width: 590px;
			transition: 2s opacity;

			.about-greennovo {
				margin-top: 18px;
			}

			.innovation,
			.about-greennovo {
				overflow: hidden;
				border-radius: 15px;

				a {
					display: block;
					position: relative;
					width: 100%;
					height: 100%;
					transition: 2s;

					&:hover {
						transform: scale(1.2);
					}
				
					.h2-content {
						position: absolute;
						width: 100%;
						top: 40%;
						left: 0%;
						text-align: center;

						h2 {
						.h1-title;
						font-size: 30px;
						text-shadow: 1px 1px 1px #333333;
						}
					}
				}

				a img {
					max-width: 100%;
					border-radius: 15px;
				}

				.mobile-img-innovation,
				.mobile-img-about {
					display: none;
				}
			}
		}
	}

	.statistic {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
		margin-top: 40px;
		//text-align: center;

		.stat {
			display: flex;
			flex-direction: column;
			width: 52%;

			.item {
				display: flex;
				align-items:center;

				.item-images {
					display: flex;
					flex-direction: column;
					white-space: nowrap;
					overflow: hidden;
				}

					img {
						width:210px;
					}

					.item__three {
						transform-origin: 0px 145px;
						animation-name: green__three;
						animation-duration: 2s;
						animation-iteration-count: infinite;
						animation-direction: alternate;
					}

					@keyframes green__three {
						0% {
							transform: skewX(0deg);
						}

						100% {
							transform: skewX(5deg) scale(1, 0.95);
							//transform: matrix(1, 3, 1, 1, 2, 2);
						}
					}

					.item__earch {
						animation-name: earch__rotation;
						animation-duration: 12s;
						animation-iteration-count: infinite;
						animation-timing-function: linear;

					}

					@keyframes earch__rotation {
						0% {
								transform:rotate(0deg);
						}

						100% {
							transform:rotate(360deg);
						}
					}

					.item__co2 {
						animation-name: green__co2;
						animation-duration: 2s;
						animation-iteration-count: infinite;
						animation-direction: alternate;
					}

					@keyframes green__co2 {
						0% {
							transform: rotateX(0deg);
						}

						100% {
							transform: perspective(85px) rotateX(10deg) skewX(5deg);
						}
					}

					.item__mot {
						animation-name: green__mot;
						animation-duration: 0.3s;
						animation-iteration-count: infinite;
						animation-direction: alternate;
					}

					@keyframes green__mot {
						0% {
							transform: skewX(-1deg);
						}

						100% {
							transform: skewX(1deg) scale(1, 0.95);
							//transform: matrix(1, 3, 1, 1, 2, 2);
						}
					}
					
					.item__line {
						animation-name: line__bottom;
						animation-duration: 5s;
						animation-iteration-count: infinite;
						animation-timing-function: linear;
					}

					@keyframes line__bottom {
						0% {
							transform: translate(-50%, 0);
						}

						100% {
							transform: translate(90%, 0);
						}
					}

				.item-text {
					display: flex;
					flex-direction: column;

					.counter {
						font-size: 4rem;
						font-weight: bold;
						color: #333333;
						line-height: 1;
						margin: 0;
					}

					.sup-count {
						font-size: 18px;
						//font-weight: bold;

						sub {

						}
					}
				}
				.sub-count {
					margin-bottom: 7rem;
				}
			}
		}
	}
/*!==========Внутренние страницы (не каталог)==========*/
	.inner-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		h2 {
			.h1-title;
			color: #333333;
		}

		.inner-content {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 0 40px;

			p {
				text-align: justify;
				line-height: 30px;
			}

			.innowation-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 20px;
				h3 {
					width: 100%;
					margin: 0 auto;
					font-size: 24px;
					color: #748943;
					text-align: center;
				}
				p {
					text-align: justify;
					line-height: 30px;
				}
			}
			.certificates-wrapper {
				display: flex;
				flex-direction: column;
				margin: 20px 0;

				.certificates-content {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;

					.certificates-item {
						display: flex;
						flex-direction: column;
						width: 45%;
						margin-right: 20px;
						h3 {
							width: 100%;
							margin: 0 auto;
							font-size: 24px;
							color: #748943;
							text-align: center;
						}
						p {
							width: 100%;
							line-height: 30px;
						}
					}
					.certificates-slider {
						width: 55%;
						.swiper-wrapper {
							.item-slide {
								.item-img {
									width: 100%;
									height: 100%;
								}
							}
						}
						.swiper-button-prev,
						.swiper-button-next {
							color: #748943;
							&:hover,
							&:focus {
								color: #9BC414;
							}
						}
					}
				}
			}
		}
		.policy-wrapper {
			display: flex;
			flex-direction: column;
			width: 100%;

			.text-policy {

				.btn-text-policy {
					position: relative;
					margin: 15px 0 0 0;
					outline: none;
					border: none;
					color: #f2a765;
					cursor: pointer;
					line-height: 1;
					font-size: 16px;
					//text-shadow: 1px 0px 1px #333333;
					//width: 100%;
					//padding: 15px 69px 15px 68px;
					//border-radius: 3px;
					//background-color: #748943;

					&:hover {
						color: #748943;
					}
				}
			}
		}
	}
/*!==========Конец внутренние страницы (не каталог)==========*/

	.product-head {
			width: 40%;

			h2 {
				.h1-title;
				color: #333333;
			}

			span {
				font-size: 20px;
				font-weight: bold;
				color: #748943;
			}
		}

	.product-container {

		.product-content-top,
		.product-content-bottom {
			display: flex;
			justify-content: space-around;
			width: 100%;
			margin: 20px 0 0 0;

			.inner-product {
				width: 390px;
				a {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
					height: 100%;
					transition: 2s;

					&:hover {
						transform: scale(1.2);
					}

					.img-inner-product {
						max-width: 100%;
						border-radius: 15px;
					}
					
					.mobile-img-inner-product {
						display: none;
					}

					h3 {
						font-size: 20px;
						color: #333333;
					}
				}
			}

			.inner-product:not(:last-child) {
				margin-right: 20px;
			}
		}

		.product-content-bottom {
			margin-top: 0;
		}
	}

	.item-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.left-slider {
			width: 50%;
			margin-right: 20px;

			.item-image {
				height: auto !important;

				.item-left-img {
					//width: 590px;
					.item-img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		.item-right-wrapper {
			display: flex;
			flex-direction: column;
			width: 50%;

			.item-head {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;

				h2 {
					.h1-title;
					line-height: 0;
					margin-top: 8px;
					color: #333333;
				}

				span {
					font-size: 20px;
					font-weight: bold;
					color: #748943;
				}
			}

			.right-slider {
				display: flex;
				flex-direction: column-reverse;
				width: 100%;
				margin-top: 60px;

				.item-content {
					margin-top: 20px;
					
					.item-right-text {
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 100%;
						
						h3 {
							margin: 0 auto;
							margin-bottom: 15px;
							font-size: 20px;
							font-weight: bold;
							color: #333333;
						}

						.item-text {
							display: flex;
							flex-direction: column;
						}

						.all-text-wrapper {
							display: flex;
							flex-direction: column;
							width: fit-content;
						}

						.btn-all-text {
							position: relative;
							list-style-type: none;
							width: fit-content;
							margin: 15px auto;
							outline: none;
							border: none;
							color: #f2a765;
							cursor: pointer;
							line-height: 1;
							font-size: 14px;
							//text-shadow: 1px 0px 1px #333333;
							//width: 100%;
							//padding: 15px 69px 15px 68px;
							//border-radius: 3px;
							//background-color: #748943;

							&:hover {
								color: #748943;
							}
						}

						.btn-all-text:after {
								display: block;
								position: absolute;
								left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
								width: 0;/*задаём длинну линии до наведения курсора*/
								height: 1px; /*задаём ширину линии*/
								background-color: #748943; /*задаём цвет линии*/
								content: "";
								transition: width 0.3s ease-out; /*задаём время анимации*/
							}

						.btn-all-text:hover:after,
						{
							width: 100%;
						}

						details[open] summary {

						}

						/* Убираем стандартный маркер Chrome */
						details summary::-webkit-details-marker {
							display: none;
						}
						/* Убираем стандартный маркер Firefox */
						details > summary {
							list-style: none;
						}
					}
				}

				.swiper-pagination {
					display: flex;
					justify-content: space-evenly;
					flex-wrap: wrap;
					position: relative;
					bottom: 0;
					width: 100%;
					.swiper-pagination-bullet {
						width: auto;
						height: auto;
						margin: 0;
						background: none;
						font-size: 20px;
						font-weight: bold;
						color: #333333;
						opacity: 1;

						&:focus-visible {
							outline: none;
						}
					}
					.swiper-pagination-bullet-active {
						color: #748943;
					}
				}
			}
		}
	}
}

.support {
	width: 100%;
	margin-top: 40px;
	background-color: #333333;

	.container { //@var-width-2: 600px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: @var-width;
		min-width: @var-min-width;
		margin: 0 auto;
		padding: @var-padding-width;
		padding-top: 40px;
		padding-bottom: 40px;

		.nav-support {
			display: flex;
			flex-direction: column;
			width: 590px;
			margin-right: 20px;

			h3 {
				.h1-title;
			}

			.nav-support-item {
				display: flex;
				line-height: 30px;
				align-items: center;
				.arrow-mini {
					.arrow-min;
					transform: none;
					//margin: 18px 0 0 2px;
				}

				a:hover {
					color: #c0d294;
				}

				.popup {
					display: none;
					width: 100%;
					height:100%;
					position:fixed;
					background-color: rgba(255,255,255,0.95);
					top:0;
					left: 0;
					z-index: 8;
					color: #333333;

					.popup-content {
						position: relative;
						max-width:@var-width;
						min-width:@var-min-width;
						margin: 0 auto;
						text-align: center;

						.popup-top {
							display: flex;
							.popup-header {
								width:@var-width;
								
								h4 {
									.h1-title;
									color: #333333;
								}
							}

							a {
								width: 30px;
								height: 30px;
								padding: 1px;
								margin: 45px 40px 0 0;
								background-color: transparent;
								//cursor: pointer;

								.cl-btn-2 {
									//margin: 20px;
									display: flex;
									justify-content: center;
								}
								.cl-btn-2 div {
									//cursor: pointer;
									position: relative;
									//height: 68px;
									width: 30px;
								}
								.cl-btn-2 .leftright {
									height: 3px;
									width: 30px;
									position: absolute;
									margin-top: 16px;
									background-color: #748943;
									border-radius: 2px;
									transform: rotate(45deg);
									transition: all .2s ease-in;
								}
								.cl-btn-2 .rightleft {
									height: 3px;
									width: 30px;
									position: absolute;
									margin-top: 16px;
									background-color: #748943;
									border-radius: 2px;
									transform: rotate(-45deg);
									transition: all .2s ease-in;
								}

								.cl-btn-2 div:hover .rightleft,
								.cl-btn-2 div:hover .leftright {

									background-color: #333333;
								}

								.cl-btn-2 div:active .leftright {
									transform: rotate(-45deg);
									background-color: #333333;
								}
								.cl-btn-2 div:active .rightleft {
									transform: rotate(45deg);
									background-color: #333333;
								}
							}
						}

						.popup-text {
							text-align: justify;
							padding: 0 40px;
						}
					}
				}
				#popup-gs:target,
				#popup-as:target,
				#popup-ts:target,
				#popup-sc:target {
					display: block;
				}
			}

			.nav-support-item a:hover + .arrow-mini {
				color: #c0d294;
			}

		}

		.img-support {
			width: 590px;
			transition: 2s opacity;

			img {
				width: 100%;
				border-radius: 3px;
			}
		}
	}
}

.contacts {
	width: 100%;
	margin-top: 40px;

	.content {
		display: flex;
		justify-content: space-between;
		max-width: @var-width;
		min-width: @var-min-width;
		padding: @var-padding-width;
		margin: 0 auto;

		.left-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: left;
			align-self: baseline;
			width: 590px;
			margin-right: 20px;
			
			.phone-wrapper {
				div a {
					display: flex;
					align-items: center;
					color: #333333;
					font-size: 14px;
					font-weight: bold;

					.left-item {
						margin-right: 4px;
					}
				}
				.phone {
					margin-bottom: 20px;
				}
			}

			.other-wrapper {
				margin-left: 100px;

				div a {
					display: flex;
					align-items: center;
					color: #333333;
					font-size: 14px;
					font-weight: bold;

					.left-item {
						margin-right: 4px;
					}
				}
				.info {
					margin-bottom: 20px;
				}
			}

			.chat {
				position: relative;
				width: 100%;
				//height: 326px;
				margin: 20px 0px 0px 2px;

				.chat-title {
					color: #333;
					font-size: 14px;
					font-weight: 700;
				}

				.name-chat {
					margin-top: 20px;
				}

				.name-chat,
				.email-chat,
				.phone-chat {
					margin-bottom: 20px;
				}

				.name-chat,
				.email-chat,
				.phone-chat,
				.text-chat {
					width: 99%;
					border: 1px solid #a9a9a8;
					border-radius: 3px;
					font-size: 14px;
					color: #333333;
				}

				.name-chat:active,
				.email-chat:active,
				.phone-chat:active,
				.text-chat:active,
				.name-chat:focus,
				.email-chat:focus,
				.phone-chat:focus,
				.text-chat:focus {
					outline: 1px solid #748943;
					//border-radius: 2px;
				}

				.text-chat {
					min-height: 80px;
				}

				.checked-policy {
					display: flex;
					justify-content: space-between;
					flex-wrap: nowrap;
					align-items: center;
					margin-top: 20px;

					.submit-chat {
						.green-button;
						outline: none;
						border: none;
						color: #ffffff;
					}

					.checked-wrapper {
						display: flex;
						flex-wrap: nowrap;
						align-items: center;
						.check-policy {
							margin: 0 5px 0 20px;
						}

						.label-policy {
							color: #333333;
							font-size: 12px;

							a {
								cursor: pointer;
								border-bottom: 1px solid #748943;
								font-size: 12px;
								color: #748943;
							}
						}
					}
				}
			}
		}
		.right-container {
			width: 590px;
			transition: 2s opacity;

			.address {
				display: flex;
				align-items: center;

				a {
					color: #333333;
					font-size: 14px;
					font-weight: bold;
					text-transform: uppercase;
				}
			}

			.map {
				margin-top: 20px;
				
				iframe {
					width: 100%;
					height: 450px;
					border: 1px solid #a9a9a8;
					border-radius: 3px;
				}
			}
		}
	}
}

.footer {
	width: 100%;
	margin-top: 40px;

	.footer-top-wrapper {
		width: 100%;
		background-color: #333333;

		.container {
			display: flex;
			justify-content: space-between;
			max-width: @var-width;
			min-width: @var-min-width;
			padding: @var-padding-width;
			margin: 0 auto;
			font-size: 13px;

			ul li {
					margin-top: 10px;
					a {
					display: flex;
					align-items: center;
					color: #bcbcbc;
					&:hover{
						color: #c0d294;
					}

					img {
						width:35px;
						//height:"25px";
						margin-right: 4px;
					}
				}
			}
			.mob-list-2-prod {
				display: none;
			}

			.weechat {
				pointer-events: none;
				cursor: default;
			}
		}
	}

	.footer-bottom-wrapper {
		width: 100%;
		background-color: #000000;

		.footer-text {
			margin: 0 auto;
			padding: 20px 0;
			text-align: center;
			font-size: 13px;
			color: #bcbcbc;
		}
	}

	#cookie_notification {
		display: none;
		justify-content: space-around;
		flex-wrap: wrap;
		z-index: 9;
		align-items: center;
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 30px 0;
		background-color: #000000;

		p{
			max-width: 70%;
			margin: 0;
			font-size: 13px;
			text-align: left;
			color: #ffffff;

			a {
				border-bottom: 1px solid #ffffff;
				cursor: pointer;

				&:hover {
					border-bottom: 1px solid #748943;
					color: #748943;
				}
			}
		}

		.cookie_accept {
			.green-button;
			border: none;
			outline: none;
			cursor: pointer;
			color: #ffffff;
		}
	}

	.show {
		display: flex;
	}
}

.back-to-top {
	display: none;
	position: fixed;
	width: 60px;
	height: 60px;
	right: 10px;
	bottom: 185px;
	z-index: 6;
	text-align: center;
	//line-height: 60px;
	background: rgba(155, 196, 20, 0.8);
	color: #333333;
	cursor: pointer;
	border-radius: 3px;
	//font-size: 25px;
	//font-weight: bold;

	img {
		width: 25px;
		margin-top: 10px;
	}
}

.back-to-top:hover {
	background: #748943;
}

.back-to-top-show {
	display: block;
}

/*!=================MOBILE STYLE======================*/
@import url('mobile-style.css');




